<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="functional suite">
    <test verbose="2" name="application testing">
        <classes>
            <class name="com.global.FuctionalTest"/>
        </classes>
    </test>
</suite> <!-- Default suite -->

<!--<suite name="smoke suite">-->
<!--<test verbose="2" name="smoke testing">-->
<!--    <classes>-->
<!--        <class name="com.global.SmokeTest"/>-->
<!--    </classes>-->
<!--</test>-->
<!--</suite> &lt;!&ndash; Default suite &ndash;&gt;-->